
// Color variables

$danger: #ef5350;
$success: #52bb56;
$warning: #f1b53d;
//$primary: #039cfd;
$primary: #00beb2;
//$info: #67d1f8;
$info: #67d1f8;
$secondary: #5a3c90;

$lightdark5: #555555;
//$purple: #7266ba;
$purple: #8561c0;
//$dark: #343c49;
$dark: #433b5d;

$lightgray: #dddddd;
$pink: #f76397;
$inverse: #4c5667;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$light5: #140a01;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;
$muted: #80898e;





// Width variables
$width: 100%;


// Height variables
$height: 100%;


//FONTS
$font-family: 'ArnoPro', serif;
$font-family-text: 'ArnoProSmText', serif;
$font-family-caption: 'ArnoProCaption', serif;
$font-family-display: 'ArnoProDisplay', serif;
$font-family-subhead: 'ArnoProSubhead', serif;
$font-family-opensans:  'Open Sans', sans-serif;;
$font-family-base: $font-family-opensans;


$headings-font-family: $font-family-caption;